<h2>Contact Women Accessories Shop</h2>
<p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
<email address="info@@womenaccessoriesshop.com" content="Contact us"></email>